@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}

.hide-scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.hide-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* google autocomplete  */

.pac-container {
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

.pac-item {
  border: 0px;
  padding: 5px;
  border-radius: 10px;
}

.pac-logo::after {
  content: "";
  background-image: url("");
  padding: 0px;
  height: 0px;
}
